@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
    background-color: #1B1B1B;
    padding: 30px 80px;
    top: 80px;
}

/* ----------------- NAVBAR -------------------- */
header {
    display: flex;
    gap: 50px;
    align-items: center;
}

header a {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

header h1 a span {
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header h1 a #vg {
    color: white;
    font-size: 40px;
}

header h1 a #rp {
    color: #7442C8;
    font-size: 40px;
}

header nav {
    display: flex;
    gap: 25px;
    align-items: center;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header .utility-list {
    display: flex;
    margin-left: auto;
    align-items: center;
    width: 20%;
    transition: width 1.5s ease-in-out;
}

header .utility-list:focus-within {
    width: 100%;
}

header .utility-list .search-bar {
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;
    margin-right: 15px;
    width: 100%;
    height: 25px;
    padding: 5px;
    color: white;
}

header .utility-list .search-bar:focus-within {
    width: 100%;
}

header .utility-list .search-bar input{
    border: none;
    background-color: transparent;
    color: white;
    margin-left: 3px;
    font-size: 14px;
}

header .utility-list .search-bar input:focus{
    outline: none;
    width: 100%;
}

.page-title {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: lightgrey;
}